.ui-selecting { filter:alpha(opacity=100); border: solid red 1px;}
  .ui-selected { filter:alpha(opacity=100); border: solid green 1px;}
  #selectable,#selectable2 { list-style-type: none; margin: 0; padding: 0; width:320px;height:320px;background:white}
  li {   float: left; width: 3px; height: 3px; text-align: center;border: solid #555 1px;}
   body
   {
	font: 62.5% "Trebuchet MS", sans-serif;
   }
   label { display:block; }
   input.text { margin-bottom:12px; width:95%; padding: .4em; }
   fieldset { padding:0; border:0; margin-top:25px; }
   h2{font-size:2em;}
    #container{
	width:700px;
	height:350px;
	margin:auto;
	}
	#edit{
	width:320px;
	height:320px;
	float:left;
	}
	#refer{
	width:320px;
	height:320px;
	float:right;
	}
   .turnblack{
	background:black;
  	}
  	 #toolbar{
  	  width:100%;
  	  float:left;
  	  align:center;
  	  margin-left: 30%;
  	 }
  	 #title{
  	 width:700px;
  	 height:50px;
  	 margin: auto;
  	 }
  	 #title1{
  	 float:left;
  	 height:100%;
  	 }
  	 #title2{
  	 float:right;
  	 height:100%;
  	 }
  	 .dragdiv{
  	 border: solid yellow 1px;
  	 filter:alpha(opacity=100);
  	 padding: 0px;
  	 margin: 0px;
  	 float:left;
  	 position:absolute;
  	 }
  	 #myfont{
  	 width:700px;
  	 margin:auto;
  	 height:350px;
  	 overflow: auto;
  	 }
  	 div.img
  {
  margin:7px;
  border:1px solid #bebebe;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:2px;
  border:1px solid #bebebe;
  }
div.img a:hover img
  {
  border:1px solid #333333;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:64px;
  font-size:12px;
  margin-top:-5px;
  }